/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  /*height: auto;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom:8px;
  border-radius: 4px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 4px;
}
.form-signin input[type="password"] {
  margin-bottom: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 4px;
}

/*Viswa custom*/
.form-signin select {
  height:34px;!important;
}

.search-map {
height:400px;!important;
}

.navbar-inverse {
    background-color: #9d081a;
    border-color: #9d081a;
    /*margin-left:100px;
    margin-right:100px;*/
}

.bg-backgroundmain {
	 background-image: url("../img/blooddrop_1024_6821.jpg");
	 background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;    
	 background-color: #fff;
}
.welcome {
 padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color:#9d9d9d;
background-color: transparent;
}
.welcome:hover {
color:#fff;
}

.btn-primary {
    background-color: rgba(166, 29, 16, 0.73);
    border-color: #9d081a;    
}
.btn-primary:hover{
    background-color: #9d081a;
    border-color: #9d081a; 
}

.btn-primary.active.focus, 
btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover
{
	color: #fff;
	background-color: #9d081a;
    border-color: #9d081a;
}
.btn-primary:active:focus {
    background-color: #9d081a;
    border-color: #9d081a; 
}

.form-control:focus{
  border-color: #9d081a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(166, 29, 16, 0.73), 0 0 8px rgba(166, 29, 16, 0.73);
          box-shadow: inset 0 1px 1px rgba(166, 29, 16, 0.73), 0 0 8px rgba(166, 29, 16, 0.73);
}

a {
  color: #9d081a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #9d081a;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.profile-info {
	background-color: #9d081a;
    border-color: #9d081a; 
    background-color: transparent;
}

.profile-info ul {
	padding:15px;
}

.nav-pills>li {
	padding: 10px;
}

.nav-pills>li>a {
	background-color: rgba(166, 29, 16, 0.73);
    border-color: #9d081a;  
	color: #fff;
}
.nav-pills>li>a:hover {
	background-color: #9d081a;
    border-color: #9d081a; 
}

.nav-pills>li.active>a{
	background-color: #9d081a;
    border-color: #9d081a; 
}

.nav-pills>li.active>a:hover{
	background-color: #9d081a;
    border-color: #9d081a; 
}
.profile-form {
	margin-left:20px;	
}

.alert-info {
	color: #fff;
	background-color: rgba(166, 29, 16, 0.73);;
	border-color: #9d081a;
}
.button-row{	
	vertical-align: middle;
	margin-left:50px;
}

.form-group.required .sr-only:after {
  content:"*";
  color:red;
}

.container {
 height:100vh;
}
.container .content {
height:80vh;
}

.container .footer {
height:10vh;
}
.container .header{
height:10vh;
}

/*.reg-select {
height:44px;	
}*/

.donortab {
	margin-left:10px;
}
.address-form {
	padding:25px;
}

.profile-img{
	height:100px;
	width:100px;
}