<nav class="navbar navbar-inverse">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Go to Site</a></li>
        <li><a href="/admin#/adminbloodbanks">Blood Banks</a></li>        
        <li><a href="/admin#/adminstates">States</a></li>
        <li><a href="admin#/admincities">Cities</a></li>
        <li><a href="admin#/adminevents">Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
					<li class="welcome"><span>Hello <%=user%></span></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
					<li><a href="/profile"><span class="glyphicon glyphicon-log-in"></span> My Profile</a></li>
      </ul>
    </div>
  </div>
</nav>