<nav class="navbar navbar-inverse">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">About Us</a></li>
        <li><a href="/">Contact Us</a></li>        
      </ul>
    </div>
  </div>
</nav>