<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
</head>

<body class="bg-backgroundmain">
<!--<header class="container-fluid text-center">
  <div class="container-fluid">
  <p>Donate blood. Save life.</p>
  </div>
</header>-->
<div class="container">

<div class="row">
<% include partials/navbar %>
</div>

<div class="row">
	<% for(var i in messages) { %>
		<div class="flash">
			<%= messages[i] %>
		</div>
	<% } %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
        		<div class="text-center">
        		    <!--<h1><%= title %></h1>    -->
          		    <!--<img src="img/dracula.gif" alt="Hack Hands logo">          			-->
        		</div>
	        </div>
	        <div class="col-md-9 personal-info">            
	        </div>
	        
		</div>
	</div>
</div>

<div class="row">
<% include partials/footer %>
</div>

</div>
</body>
</html>