<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">		
$(document).ready(function() {
		//autofocus on first error field.
		$('#<%= focusele %>').focus();	
		
		//state selector.
		$("#p_state").on("change", function() {
		    var state = $("#p_state").val();	
		    var $city = $("#p_city")	    
		    $.ajax({
		        url: '/getCities/'+state,
		        //data: state,
		        type: "GET",
		        error: function (err) {
                	alert("An error ocurred."+err);
            	},
		        success: function(citydata) {
		        $city.find('option').remove();
		        $.each(citydata,function(i,city){
			        $city.append($("<option></option>")
	                    .attr("value",city.name)
	                    .text(city.name)); 
		            //alert(citydata);
		            });
		        }
		    });
		});
		
			
});
		</script>
</head>

<body class="bg-backgroundmain">
<!--<header class="container-fluid text-center">
  <div class="container-fluid">
  <p>Donate blood. Save life.</p>
  </div>
</header>-->
<div class="container">

<div class="row">
<% include partials/navbar %>
</div>

<div class="row">
	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
        		<div class="text-center">
        		    <h3>Search for a donor</h3>
          		    <% include partials/searchdonors %>
        		</div>
	        </div>
	        <div class="col-md-9 personal-info">            
	        </div>
	        
		</div>
	</div>
</div>
</div>
<footer class="footer">
<% include partials/footer %>
</footer>


</body>
</html>