<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="bg-backgroundmain">	

<div class="container">

<div class="row">
<% include partials/navbar-login-register %>
</div>

<div class="row">
	<div class="container">
	  <div class="col-md-6"><!-- Left Col Sign in -->
	
		
		<% for(var i in messages) { %>
		<div class="alert alert-info alert-dismissable">          
          <i class="fa fa-coffee"></i>		
			<div class="flash">
				<%= messages[i] %>
			</div>
		</div>	
		<% } %>        

		<form class="form-signin" action="/login" method="post">
        	<h2 class="form-signin-heading text-center">Sign in</h2>
        
	        <label for="username" class="sr-only">Username</label>
	        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
	        
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
	        
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      	</form>

      	<div class="row">
		    <div class="center-block text-center">
				<a href="/oauth/facebook">Login with Facebook</a> |
				<a href="/oauth/twitter">Login with Twitter</a>
			</div>
		</div>
		
	  </div><!-- Left Col Sign in -->
	  
	  <div class="col-md-6"><!-- Right Col sign Up -->
	  <!-- Sign Up Registration code here-->
		<form class="form-signin" action="/register" method="post">
        	<h2 class="form-signin-heading text-center">Sign Up</h2>
        
	        <div class="form-group">
	        <label for="name" class="sr-only">Full Name</label>
	        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
	        </div>
	        <div class="form-group">
	        <label for="username" class="sr-only">Username</label>
	        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>	        
	        </div>
	        <div class="form-group">
	        <label for="email" class="sr-only">E-mail</label>
	        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
	        </div>
	        <div class="form-group">
	        <label for="email" class="sr-only">Phone</label>
	        <input type="email" id="phone" name="phone" class="form-control" placeholder="Phone" required>
	        </div>
	        <div class="form-group">	        
	        <label for="email" class="sr-only">Area</label>
	        <input type="email" id="area" name="curlocation.area" class="form-control" placeholder="Area" required>
	        </div>
	        <div class="form-group">	        
	        <label for="email" class="sr-only">City</label>
	        <input type="email" id="city" name="curlocation.city" class="form-control" placeholder="City" required>
	        </div>
	        <div class="form-group">	        
	        <label for="email" class="sr-only">State</label>
	        <input type="email" id="state" name="curlocation.state" class="form-control" placeholder="State" required>
	        </div>
	        <div class="form-group">	        
	        <label for="email" class="sr-only">Pin</label>
	        <input type="email" id="pin" name="curlocation.pin" class="form-control" placeholder="Pin code" required>
	        </div>
	        <div class="form-group">	        
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
	        </div>
	        
	        <div class="form-group">
					<label class="col-lg-3 control-label"> Blood Group: </label> 
					<div class="col-lg-8">
						<div class="ui-select">
							<select id="req_bg" class="form-control" name="donorProfile.bloodgroup">
								<option value="A+"> A+ </option>
								<option value="A-"> A- </option>
								<option value="B+"> B+ </option>
								<option value="B-"> B- </option>
								<option value="AB+"> AB+ </option>
								<option value="AB-" selected="selected"> AB- </option>
								<option value="O+"> O+ </option>
								<option value="O-"> O- </option>
							</select>
						</div>
					</div>
			</div>
	        
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      	</form>
      		  
	  </div><!-- Right Col sign Up -->
	  	
		
    </div>
</div>


<div class="row">
<% include partials/footer %>
</div>

</div>

</body>
</html>